
$primary1: #5e989a;
$primary2: #3b8083;
$primary3: #ffde9a;
$primary4: #d8b161;
$primary5: #ff9d94;
$primary6: #d86461;
$textcolor: #000000;
$lightpi: #fff7f5;
$lightgr: #e9e6d5;
$lightey: #eae6e2;
$primary-color: #fff7ff;
$blueish: #435681;
